<% if flash.now[:alert] %>
    <div class="alert alert-warning" role="alert">
        <%= flash.now[:alert] %>
    </div>
    <% end %>
<%= form_with url: users_login_path do |form| %>
    <div class="container">
        <h1>Login</h1>
        <hr>
        <%= form.text_field :email ,placeholder: "Email", required: "required"%>
        <%= form.password_field :password ,placeholder: "Password", required: "required"%>
        <hr>
        <%= form.submit "Login", :class => "registerbtn"%>
    </div>
    <div class="container signin">
        Not signed up yet?  <%= link_to "Register", users_path %><p/>
    </div>
<%end%>